footer.footer
    .container.pt-60.pb-60
        .row
            .col-sm-4
                ul
                    li
                        h5 About Us
                    li.page-item
                        a(href="/") Home
                    li
                        a(href="#") Blogs
                    li
                        a(href="#") Press
                    li
                        a(href="#") Careers
            .col-sm-4
                ul
                    li
                        h5 Support
                    li
                        a(href="#") Sign In
                    li
                        a(href="#") Contact Us
            .col-sm-4
                div
                    h5 Interested, but still not sure?
                div
                    p
                        | Subscribe to our FREE email newsletter.
                .input-group
                    input(type="text" placeholder=" Email")
                    button.btn.btn-outline-secondary.subscribe-button(type="button" style="background: #a9a9a9;color:#FFFFFF !important;") Subscribe
    // sub-footer
    .sub-footer
        .row
            .col-sm-6
                div(style="margin:5px auto")
                    p This website is for academic purpose only. by Liheng Lin
            .col-sm-2
                p Terms of Use
            .col-sm-2
                p Privacy Policy
            .col-sm-2
                i.fab.fa-facebook-square
                i.fab.fa-linkedin-in
                i.fab.fa-twitter
                i.fab.fa-instagram

