extends base

block content
    .container
        .forgot-password-content
            div
                h2.green Forgot your password?
            form.form-forgot-password.clearfix
                .form-group
                    label(for="email") Email
                    input#email.form-control(type="email" name="email" aria-describedby="emailHelp" required)
                button.btn.btn-primary.float-right Reset Password