extends base

block content
    .index-content
        h2.green Step 1:
        h4.gray Complete your profile for others to know more about you!
        br
        h2.green Step 2:
        .step-2.ml-4.justify
            h4.green Buying time:
            h4.gray In the Marketplace, you can view profiles of all current users. You can use the filter on the top to narrowing the search results. All available time slots are listed on providers' profile page. Click the 'Book' buttons to order the time you prefer. After the appointment with provider, you are welcomed to write a review for them.
            h4.green Selling time:
            h4.gray Click the 'Sell My Time' link in your account page. Fill out the title, duration, description and price of your time. Hit the 'Create' button and congratulations on your listing!
        br
        h2.green Step 3:
        h4.gray Share Time Market with your friends!