extends base

block content
    .index-page-background
        .index-page-content
            .index-text
                h1.white Welcome to Time Market
                br
                h3.white
                    | A place to trade your spare time.
                br
                a.btn.btn-primary(href='/how-it-works') How It Works?