extends base

block content
    .index-content
        h1.green Buy and sell time easily on Time Market!
        br

        h3.gray Need help for coursework and exams? Want peer suggestions on internships and resumes? We are here to help!
        br
        .justify
            h3.gray Introducing Time Market, the first platform for college students to trade spare time. On Time Market, you can seek help from your peer students for any academic or professional concerns. And also, sell your free time to help others! Get started today to take the best use of your time and resources!
        br
        a.btn.btn-primary(href='/signup') Register Now