<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="user/_fragments :: head(~{::title})">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/profile.css" th:href="@{/css/profile.css}">
    <script src="https://kit.fontawesome.com/a1f1fd3d1f.js" crossorigin="anonymous"></script>
    <title>Search for Disease</title>

</head>
<body>
<nav th:replace="user/_fragments :: navbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand brand-text" href="../index.html" th:href="@{/}">TrojanMD</a>

    <div class="dropdown">
        <a th:text="${session.loggedInUser.getFname()} + ' ' + ${session.loggedInUser.getLname()}" class=" dropdown-toggle" href="#" style="text-decoration: none; color:white" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jason Doe
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="user-info.html" th:href="@{/user-info}">Contact Information</a>
            <a class="dropdown-item" href="#" th:href="@{/}">Payment</a>
            <a class="dropdown-item" href="#" th:href="@{/}">Support</a>
            <a class="dropdown-item" href="user-login.html" th:href="@{/user/logout}">Sign Out</a>
        </div>
    </div>
</nav>

<!-- Vertical navbar -->
<div th:replace="user/_fragments :: vertical-navbar(7)" class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center">
            <img src="https://ui-avatars.com/api/?name=Jason+Doe&background=0D8ABC&color=fff&font-size=0.55" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h4 class="m-0" th:text="${session.loggedInUser.getFname()} + ' ' + ${session.loggedInUser.getLname()}">Jason Doe</h4>
            </div>
        </div>
    </div>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-1 mb-0">Search</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="search-for-disease.html" class="nav-link font-italic">
                Diseases
            </a>
        </li>
        <li class="nav-item">
            <a href="search-for-symptom.html" class="nav-link text-dark font-italic">
                Symptoms
            </a>
        </li>
    </ul>
    <br>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-1 mb-0">Main</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="home.html" class="nav-link text-dark font-italic">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="visit.html" th:href="@{/}" class="nav-link text-dark font-italic">
                Previous Visits
            </a>
        </li>
        <li class="nav-item">
            <a href="my-appointment.html" th:href="@{/}" class="nav-link text-dark font-italic">
                My Appointments
            </a>
        </li>
        <li class="nav-item">
            <a href="my-doctor.html" th:href="@{/}" class="nav-link text-dark font-italic">
                My Doctors
            </a>
        </li>
        <li class="nav-item">
            <a href="prescription.html" th:href="@{/}" class="nav-link text-dark font-italic">
                Prescriptions
            </a>
        </li>
        <li class="nav-item">
            <a href="lab-test.html" th:href="@{/}" class="nav-link text-dark font-italic">
                Lab Tests
            </a>
        </li>
    </ul>
</div>
<!-- End vertical navbar -->

<div class="container-fluid page-content pt-2" id="content">
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white shadow-sm mb-2"><i class="fa fa-bars"></i><small class="text-uppercase font-weight-bold"></small></button>
    <div class="content-wrapper symptom">
        <h4 style="color:#42A5F5">Search for diseases by body systems.</h4>
        <br>
        <a th:each="bodySystem : ${bodySystems}" th:href="@{/user/diseases/{systemId}(systemId=${bodySystem.getId()})}" href="" >
            <button type="button" class="btn btn-outline-secondary" th:classappend="${selected} == ${bodySystem.getId()} ? 'active'" th:text="${bodySystem.getName()}">Common</button>
        </a>

    </div>
    <div th:if="${(diseases != null) &amp;&amp; (diseases.isEmpty())}" class="content-wrapper symptom">
        <h5>Sorry, no diseases are found.</h5>

    </div>
    <div th:each="disease : ${diseases}" class="content-wrapper search-for-disease">
        <a style="color:#000000" th:href="@{/user/disease/{id}(id=${disease.id})}" href="disease-profile.html">
            <h5 style="color:#42A5F5" th:text="${disease.name} + ' >>'">Diabetes</h5>
        </a>
        <p style="color:gray">
            <span th:text="${disease.description}"></span>
            <input type="hidden" value="">
            <a class="more" href="javascript:;">+ More</a>
        </p>

    </div>
    <br>
    <br>
    <br>
    <br>


</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script>
    $(function() {
        // Sidebar toggle behavior
        $('#sidebarCollapse').click(function() {
            $('#sidebar, #content').toggleClass('active');
        });
    });


    var flags = new Array();
    var txts = new Array();
    var texts = $("span");

    $(document).ready(function(){
        for(var i = 0; i < texts.length; i++){
            console.log(i);
            flags[i] = false;
            txts[i] = $("span").eq(i).text();
            texts.eq(i).text(txts[i].substring(0,400) + '...');
            texts.eq(i).next().val(i);
        }
    });

    $(".more").click(function(){
        var idx = $(this).prev().val();
        console.log(idx);
        console.log(flags[idx]);
        if(flags[idx]){
            $(this).prev().prev().text(txts[idx].substring(0,400) + '...');
            $(this).text('+ More');
        }
        else{
            $(this).prev().prev().text(txts[idx]);
            $(this).text('- Less');
        }
        flags[idx] = !flags[idx];
    });
</script>
</body>
</html>